<nav [ngClass]="{'sidebar': true, 'collapsed': collapsed}">
  <div class="sidebar-header">
    <img src="assets/images/logo-elite.png" alt="Logo" class="logo" />
    <button class="collapse-btn" (click)="toggleSidebar()" title="Colapsar/Expandir menú">
      <span class="collapse-icon">{{ collapsed ? '›' : '‹' }}</span>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li 
      *ngFor="let item of menuItems" 
      [title]="getTooltipText(item.label | translate)" 
      [class.collapsed]="collapsed"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      <ng-container [ngSwitch]="item.icon">
        <app-truck-icon *ngSwitchCase="'truck'" [size]="'24'" [color]="'#fff'" [stroke]="'#fff'" />
        <app-costs-icon *ngSwitchCase="'costs'" [size]="'24'" [color]="'#fff'" [stroke]="'#fff'" />
        <app-reports-icon *ngSwitchCase="'reports'" [size]="'24'" [color]="'#fff'" [stroke]="'#fff'" />
        <span *ngSwitchCase="'permissions'" class="permissions-icon">🔐</span>
      </ng-container>
      <span *ngIf="!collapsed">{{ item.label | translate }}</span>
    </li>
  </ul>
</nav> 